body.no-scroll{
    overflow: hidden;
}

#CreateGalery{
    padding: 45px;
    display:flex;
    flex-direction: column;
    align-items: center;

    form{
        width: 90%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;


        &>div:first-child {
            @media screen and (min-width: 768px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 20px;

                .group{
                    width: 100%;
                    max-width: 50%;
                }

                .images-list{
                    background-color: $color-contrastBlack;
                    border-radius: 4px;
                    max-height: 221px;

                    overflow-y: auto;

                    padding: 10px 15px;
                    color: $color-contrastWhite;

                    .image-file{
                        color: $color-contrastBlack;
                        height: 50px;

                        img{
                            display: block;
                            height: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            border-radius: 4px;
                        }
                    }

                }
                .modal.active .card .body{
                    img{
                        display: block;
                        max-width: 100%;
                        max-height: 300px;
                        object-fit: scale-down;
                        border-radius: 4px;
                    }
                }

                
            }

            width: 100%;

            .group{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .form-group{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            select{
                background-color: $color-input;
                color: $color-contrastBlack;
                padding-left: 10px;
            }
            input{
                width: 100%;
            }
            input[type='file']{
                display: none;
            }
            label[for='imagesUpload']{
                height: 35px;
                background: $color-input;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                font-size: 25px;

                &:hover{
                    background-color: $color-contrastBlack;
                    color: $color-contrastWhite;
                }
            }

            label[for="images-list"]{
                &~span{
                    font-size: 12px
                }
            }
            .images-list{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;

                &>p{
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                }

                .image-file{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 15px;
                    width: 100%;
                    height: 30px;
                    background: $color-input;
                    border-radius: 4px;
                    gap: 10px;

                    img{
                        display: none;
                    }

                    p {
                        flex-grow: 1;
                        font-size: 14px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .image-actions{
                        width: 40px;
                        display: flex;
                        justify-content: flex-end;
                        i{
                            font-size: 18px;
                            cursor: pointer;
    
                            &:nth-child(1){
                                color: $color-contrastBlack;
                            }
                            &:nth-child(2){
                                color: $color-red;
                            }
                        }
                    }
                }
            }


            textarea{
                height: 90px;
                background: $color-input;
                padding: 10px;
                font-size: 14px;
            }

        }
        .list-button{
            width: 100%;
            button{
                @include buttonPrimary(100%);
                margin-bottom: 10px;
                cursor: pointer;
                transition: opacity 0.2s ease-in-out;
                
                &[disabled]{
                    opacity: 40%;
                    color: darken($color-contrastWhite, 20%);
                    cursor: not-allowed;
                }
            }

            a{
                @include buttonInput(100%);
            }
        }

        




        .modal{
            display: none;
        }
        .modal.active{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color-contrastBlack, 0.6);

            display: flex;
            justify-content: center;
            align-items: center;
            
            .card{
                width: 95%;
                max-width: 640px;
                background-color: $color-contrastWhite;
                padding: 10px;
                border-radius: 4px;

                display: flex;
                flex-direction: column;
                align-items: center;

                .header{
                    width: 100%;
                    hr{
                        border-top: none;
                        border-width: 1px;
                        color: $color-contrastBlack;
                    }
                }
                
                .body{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding-top: 20px;
                    width: 85%;

                    img{display:none;}
                    
                    .form{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .form-group{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            label{
                                font-size: 14px;
                            }
                            input{
                                height: 35px;
                                background: $color-input;
                                padding: 10px;
                                font-size: 14px;
                            }
                        }
                    }

                    .footer{
                        display: flex;
                        justify-content: flex-end;
                        button[dataModal="valider"]{
                            @include buttonPrimary(100px);
                        }

                        button[dataModal="annuler"]{
                            @include buttonInput(100px);
                        }
                    }
                }
                
                
                
                
            }
        }
    }
}