#view-gallery{
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    padding: 25px;

    .gallery{
        display:grid;
        grid-template-columns: repeat(6,1fr);
        grid-auto-rows:100px 300px;
        grid-gap:10px;
        grid-auto-flow: dense;
        
        .gallery-item{
            border-radius: 4px;
            overflow: hidden;

            @for $i from 1 through 22{
                &:nth-child(#{$i}){
                    grid-column: span random(2);
                }
            }
        
            @for $i from 1 through 22{
                &:nth-child(#{$i}){
                    grid-row: span random(2);
                }
            }
    
            .gallery-content{
                width:100%;
                height:100%;
                position:relative;
    
                .image{
                    width:100%;
                    height:100%;
                    overflow:hidden;
    
                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        object-position:50% 50%;
                        cursor:pointer;
                        transition:.5s ease-in-out;
    
                        &:hover{
                            transform:scale(1.25);
                        }
                    }
                }
    
                .text{
                    display: none;
                    position:absolute;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    top:0;
                    left:0;
                    color: $color-contrastWhite;
                    font-size:24px;
                    backdrop-filter: blur(5px);
                    background-color: rgba(0,0,0,0.5);
                    pointer-events:none;
                    z-index:500;
                }

                &:hover .text{
                    display: flex;
                }
            }
        }
    }
    
    @media screen and (max-width:1000px){
        .gallery{
            grid-template-columns: repeat(1,1fr);
        }
    
        .gallery-item{
            @for $i from 1 through 22{
                &:nth-child(#{$i}){
                    grid-column: span 1 !important;
                }
            }
        }

        .info {
            flex-direction: column;
        }
    
        .info p{
            flex-basis: 100%;
            margin: 1em;
            flex-wrap: wrap;
        }
    }

}

@media screen and (min-width:1180px){
    #view-gallery{
        padding: 45px;
    }
}


.info{
    display: flex;
    margin: 15px;
    justify-content: space-around;
}

#edit-galery-btn{
    @include buttonPrimary(175px)
}