#profile{
    padding: 45px 20px; 
    display: flex;
    flex-direction: column;
    gap: 25px 0px;

    .list-galery{
        overflow-x: scroll;
        padding: 10px;
        
        display: flex;
        gap: 20px;
        
        .galery{
            min-width: 300px;
            height: 200px;
            background-color: blue;

            img{
                width: 300px;
                height: 200px;    
                object-fit: cover;
            }
        }
    }
}
