#picture{
    z-index: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 75px 0px;
}

#picture-header{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;

    #pic{
        width: 100%;
        max-width: 1180px;
        height: auto;
        border-radius: 4px;
    }

    #picture-infos{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;

        div{
            display: flex;
            flex-direction: column;
            gap: 10px 0px;
        }
    }
}

#comments{
    display: flex;
    flex-direction: column;
    gap: 45px 0px;

    #comments-header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px 25px;
    }

    a{
        @include buttonPrimary(270px);
        cursor: pointer;
    }

    #comments-list{
        display: flex;
        flex-direction: column;
        gap: 25px 0px;


        .comment{
            display: flex;
            background-color: $color-input;
            color: $color-contrastBlack;
            padding: 45px;
            border-radius: 4px;
            gap: 0px 25px;

            div{
                display: flex;
                flex-direction: column;

                .author-pfp{
                    width: 90px;
                    height: 90px;
                    background-color: red;
                    border-radius: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1180px){
    #picture{
        padding: 45px;
    }
}