#picture{
    z-index: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;

    a {
        @include buttonPrimary(210px);
    }
}

#picture-header{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;

    #pic{
        // width: 100%;
        // max-width: 1180px;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        align-self: flex-start;
    }

    #picture-infos{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;

        div{
            display: flex;
            flex-direction: column;
            gap: 10px 0px;
        }
    }
}

#comments{
    display: flex;
    flex-direction: column;
    gap: 45px 0px;

    #comments-header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px 25px;
    }

    a{
        @include buttonPrimary(270px);
        cursor: pointer;
    }

    #comments-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px 0px;


        .comment{
            width: 100%;
            max-width: 1500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px 0px;
            background-color: $color-input;
            color: $color-contrastBlack;
            padding: 25px;
            border-radius: 4px;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px 0px;

                .author-pfp{
                    width: 75px;
                    height: 75px;
                    background-color: $color-contrastBlack;
                    border-radius: 100%;
                }
            }   
        }
    }
}

@media screen and (min-width: 1180px){
    #picture{
        padding: 45px;
    }
}

@media screen and (min-width: 675px){
    .comment{
        flex-direction: row !important;
        gap: 40px !important;
    }
}