@mixin button($width){
    width: $width;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 4px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin buttonPrimary($width){
    @include button($width);
    background-color: $color-contrastBlack;
    color: $color-contrastWhite;
}

@mixin buttonSecondary($width){
    @include button($width);
    background-color: $color-accentuation;
    color: $color-contrastBlack;
}

@mixin buttonLight($width){
    @include button($width);
    background-color: $color-contrastWhite;
    color: $color-contrastBlack;
}

@mixin buttonDanger($width){
    @include button($width);
    background-color: $color-red;
    color: $color-contrastWhite;
}

@mixin buttonInput($width){
    @include button($width);
    background-color: $color-input;
    color: $color-contrastBlack;
}