@import url("https://use.typekit.net/rlk3vzd.css");

$color-contrastWhite: #F4F4F4;
$color-contrastBlack: #0B162C;
$color-accentuation: #16CFE9;
$color-secondaire: #2B6E94;
$color-red: #BF4040;
$color-input: #D9D9D9;
$color-bg: #FFF;

body{
    background-color: $color-bg;
    font-family: poppins, sans-serif;
    color: $color-contrastBlack;
}

h1{
    font-size: 32px;
    font-weight: 800;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 18px;
    font-weight: 500;
}

p, textarea{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.p-secondary{
    font-size: 14px;
    font-weight: 400;
}

input, select, button, textarea{
    border: none;
    border-radius: 4px;
    height: 30px;
}

input{
    background-color: $color-input;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 190px;
    color: $color-contrastBlack;
}