#ModifyGroup{


    .SaveButton{
        @include buttonPrimary(219px);
        margin-top: 12px;
    }
    
    .DeleteButton{
        @include buttonDanger(219px);
        margin: auto;
    }
    
    .CreateButton{
        @include buttonPrimary(220px);
        margin-top: 22px;
    }
    .CancelButton{
        @include buttonInput(220px);
        display: flex;
        margin-top: 8px;
    }
    
    
    #nameGroup{
        height: 30px;
        display: flex;
        margin-top: 10px;
    }
    
    .form-nameGroup{
        margin-top: 18px;
        
    }
    
    #memberName{
        height: 30px;
        display: flex;
        margin-top: 10px;
        
    }
    
    .form-nameMember{
        margin-top: 25px;
        
    }
    
    
    .form-Group{
        display: flex;
        flex-direction: column;
        margin: auto;
    
    }
    
    .formul{
        margin: auto;
    }
    
    
    .form-Group input {
        width: 219px;
    }
    
    .buttons{
        margin-top: 10px;
        margin: auto;
    }
    
    
    #info{
        margin-bottom: 20px;
    }
    
    h2, h3{
        text-align: center;
    } 
    
    h2{
        margin-bottom: 25px;
        margin-top: 25px;
    }
    h3{
        font-weight: bold;
        margin-top: 25px;
    }
    
    .form-role {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
    .form-role{
    display: flex;
    flex-direction: column;
    
    }
    #memberEmail{
        margin-top: 10px;
        display: flex;
    }
    
    @media (min-width:1000px){
        .formul{
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            width: 100%;
    
        }
    
        .buttons{
            display: flex;
            flex-direction: row;
            margin-top: 30px;
        }
        
        .CancelButton{
            // margin-top: 12px;
            margin-left: 30px;
            margin-top: 0;
        }
    
        .form-nameGroup{
            width: 50%;
            margin-right: 30px;
        }
    
        .form-nameMember{
            width: 50%;
            margin-left: 15px;
            margin-top: 15px;
        }
    
       
    
    
        .form-Group{
            align-items: center;
            width: 500px;
        }
    
        .header{
            display: flex;
            flex-direction: column;
        }
    
        .SaveButton{
            width: 150px;
            margin-top: 0;
        }
    
    
        .CancelButton{
            width: 150px;
        }
    
        .memberRole{
            display: flex;
            flex-direction: row;
        }
    
        #role{
            width: 220px;
        }
        .form-role{
            width: 50%;
        }
    } 
}


