/* Error: Undefined mixin.
 *   ,
 * 7 |     @include buttonInput(219px);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   html\style\sass\group\_groupCreate.scss 7:5  @import
 *   html\style\sass\group\_importGroup.scss 1:9  @import
 *   html\style\sass\main.scss 13:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 7 \2502      @include buttonInput(219px);\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   html\\style\\sass\\group\\_groupCreate.scss 7:5  @import\a   html\\style\\sass\\group\\_importGroup.scss 1:9  @import\a   html\\style\\sass\\main.scss 13:9               root stylesheet";
}
